# --- .NET Core ---
bin/
obj/
[Log]
[TestResults]
*.swp
*.*~
project.lock.json
.project
.dnx/

# --- Visual Studio Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.code-workspace

# --- Archivos de Usuario / Secretos ---
appsettings.Development.json
*.user
*.userosscache
*.sln.docstates

# --- macOS (Importante por estar en Mac) ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes